.page {
  padding-top: 10.88rem;
  background-color: #00000000;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/645d1edab98f5d001168f98d/16838243981616533537.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section_3 {
  padding-top: 11.56rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/645d1edab98f5d001168f98d/16838243981649696633.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section_9 {
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/645d1edab98f5d001168f98d/16838243981660733133.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section_10 {
  padding: 27.88rem 0.75rem 0.63rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/645d1edab98f5d001168f98d/16838243981660733133.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.space-x-2 > *:not(:first-child) {
  margin-left: 0.13rem;
}
.image_8 {
  margin-top: 1.13rem;
  width: 15.06rem;
  height: 15.06rem;
}
.font_3 {
  font-size: 3rem;
  font-family: SourceHanSansCN;
  line-height: 2.44rem;
  color: #ffffff;
}
.group_4 {
  margin-right: 10.88rem;
  width: 73.5rem;
}
.space-x-178 > *:not(:first-child) {
  margin-left: 11.13rem;
}
.group_5 {
  margin-top: 0.25rem;
  width: 53.56rem;
}
.space-x-51 > *:not(:first-child) {
  margin-left: 3.19rem;
}
.group_6 {
  width: 19.59rem;
}
.view_5 {
  margin-left: 5.75rem;
}
.space-y-68 > *:not(:first-child) {
  margin-top: 4.25rem;
}
.font_5 {
  font-size: 3rem;
  font-family: SourceHanSansCN;
  line-height: 2.25rem;
  color: #ffffff;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.75rem;
}
.image_11 {
  margin-right: 4.75rem;
  width: 4.59rem;
  height: 5.13rem;
}
.font_6 {
  font-size: 2.25rem;
  font-family: SourceHanSansCN;
  line-height: 2.25rem;
  color: #ffffff;
}
.text_7 {
  line-height: 2.31rem;
}
.view_6 {
  margin-left: -25.38rem;
  margin-bottom: 0.5rem;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 0.88rem;
}
.image_10 {
  margin-left: 0.25rem;
  width: 4.69rem;
  height: 5.19rem;
}
.text_6 {
  line-height: 1.69rem;
}
.group_7 {
  margin-top: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 1.38rem;
}
.space-x-166 > *:not(:first-child) {
  margin-left: 10.38rem;
}
.image_12 {
  width: 4.78rem;
  height: 5.25rem;
}
.image_9 {
  width: 5.88rem;
  height: 6.38rem;
}
.group_8 {
  margin-top: 0.25rem;
}
.space-x-82 > *:not(:first-child) {
  margin-left: 5.13rem;
}
.text_8 {
  margin-top: 0.25rem;
  line-height: 2.22rem;
}
.text_5 {
  line-height: 2.31rem;
}
.font_2 {
  font-size: 3rem;
  font-family: SourceHanSansCN;
  line-height: 3.06rem;
  color: #ffffff;
}
.section {
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/645d1edab98f5d001168f98d/16838243981687374683.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos {
  position: absolute;
  left: 0.94rem;
  right: 0;
  top: 0;
}
.section_2 {
  padding: 3.25rem 6.19rem 32.25rem 7.25rem;
  background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/645d1ea45a7e3f0310298a17/645d1edab98f5d001168f98d/16838243981687374683.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.space-x-85 > *:not(:first-child) {
  margin-left: 5.31rem;
}
.text {
  color: #ffffff;
  font-size: 5rem;
  font-family: SourceHanSansCN;
  line-height: 3.78rem;
}
.group {
  margin-top: 0.63rem;
}
.space-y-2 > *:not(:first-child) {
  margin-top: 0.13rem;
}
.image {
  width: 5.44rem;
  height: 1.75rem;
}
.space-x-8 > *:not(:first-child) {
  margin-left: 0.5rem;
}
.font_1 {
  font-size: 1.44rem;
  font-family: SourceHanSansCN;
  line-height: 1.09rem;
  color: #ffffff;
}
.section_4 {
  padding: 12.88rem 0.19rem 6.13rem 0.44rem;
  background-image: linear-gradient(0deg, #000f36 0%, #102d65 100%);
  border-radius: 0.63rem;
  box-shadow: 0px 1.56rem 2.5rem #00000080;
  width: 22.13rem;
  border: solid 0.13rem #476b89;
}
.space-y-124 > *:not(:first-child) {
  margin-top: 7.75rem;
}
.pos_2 {
  position: absolute;
  left: 7.56rem;
  top: 13.88rem;
}
.text_2 {
  line-height: 3.16rem;
}
.image_5 {
  width: 5.13rem;
  height: 3.31rem;
}
.image_7 {
  margin-left: 1.38rem;
  width: 7.47rem;
  height: 0.97rem;
}
.image_6 {
  margin-left: -0.38rem;
  width: 5.19rem;
  height: 3.31rem;
}
.equal-division {
  width: 78.13rem;
}
.space-x-94 > *:not(:first-child) {
  margin-left: 5.88rem;
}
.pos_3 {
  position: absolute;
  right: 6.44rem;
  top: 13.88rem;
}
.equal-division-item {
  padding: 6rem 0 7.56rem;
  flex: 1 1 22.13rem;
  background-image: linear-gradient(0deg, #000f36 0%, #102d65 100%);
  border-radius: 0.63rem;
  box-shadow: 0px 1.56rem 2.5rem #00000080;
  width: 22.13rem;
  height: 33.38rem;
  border: solid 0.13rem #476b89;
}
.space-y-90 > *:not(:first-child) {
  margin-top: 5.63rem;
}
.image_3 {
  width: 16.25rem;
  height: 10.88rem;
}
.equal-division-item_2 {
  padding: 6.25rem 0 7.94rem;
  flex: 1 1 22.13rem;
  background-image: linear-gradient(0deg, #000f36 0%, #102d65 100%);
  border-radius: 0.63rem;
  box-shadow: 0px 1.56rem 2.5rem #00000080;
  width: 22.13rem;
  height: 33.38rem;
  border: solid 0.13rem #476b89;
}
.space-y-100 > *:not(:first-child) {
  margin-top: 6.25rem;
}
.image_4 {
  width: 18.44rem;
  height: 10.31rem;
}
.equal-division-item_3 {
  padding: 1.5rem 1.75rem 3.5rem 3.38rem;
  flex: 1 1 22.13rem;
  background-image: linear-gradient(0deg, #000f36 0%, #102d65 100%);
  border-radius: 0.63rem;
  box-shadow: 0px 1.56rem 2.5rem #00000080;
  width: 22.13rem;
  height: 33.38rem;
  border: solid 0.13rem #476b89;
}
.group_2 {
  padding-top: 1.88rem;
  opacity: 0.16;
  width: 12.31rem;
}
.section_6 {
  background-color: #676fc8;
  width: 0.88rem;
  height: 11.84rem;
}
.view {
  margin-left: 4rem;
}
.section_7 {
  border-radius: 50%;
  width: 2.03rem;
  height: 2.03rem;
  border: solid 0.47rem #676fc8;
}
.view_2 {
  margin-left: 4.88rem;
  margin-top: 3.25rem;
}
.view_3 {
  margin-left: -4.75rem;
  margin-top: 7.88rem;
}
.section_5 {
  border-radius: 50%;
  width: 2.44rem;
  height: 2.41rem;
  border: solid 0.47rem #676fc8;
}
.view_4 {
  margin-left: -10.5rem;
  margin-top: 22.5rem;
}
.pos_4 {
  position: absolute;
  left: 3.28rem;
  top: 0;
}
.pos_9 {
  position: absolute;
  left: 0.69rem;
  top: 12.91rem;
}
.section_12 {
  background-color: #676fc8;
  width: 3.63rem;
  height: 0.88rem;
}
.pos_8 {
  position: absolute;
  left: 0.69rem;
  top: 50%;
  transform: translateY(-50%);
}
.section_8 {
  background-color: #676fc8;
  width: 6.19rem;
  height: 0.88rem;
}
.pos_6 {
  position: absolute;
  right: 1.53rem;
  top: 5.5rem;
}
.group_3 {
  width: 7.47rem;
}
.space-y-112 > *:not(:first-child) {
  margin-top: 7rem;
}
.pos_7 {
  position: absolute;
  left: 1rem;
  top: 10.28rem;
}
.section_11 {
  background-color: #676fc8;
  width: 4.09rem;
  height: 0.88rem;
}
.pos_10 {
  position: absolute;
  left: 4.56rem;
  top: 17.47rem;
}
.image_2 {
  width: 8.19rem;
  height: 11.56rem;
}
.pos_5 {
  position: absolute;
  left: 3.66rem;
  top: 4rem;
}
.font_4 {
  font-size: 1.5rem;
  font-family: SourceHanSansCN;
  line-height: 1.81rem;
  color: #ffffff;
}
.text_3 {
  width: 11.03rem;
}
.pos_11 {
  position: absolute;
  left: 50%;
  bottom: 1.72rem;
  transform: translateX(-50%);
}
.text_4 {
  margin-top: -0.38rem;
}